/*font-family: 'Roboto', 'Open Sans', 'Roboto Condensed', sans-serif;*/


.bg-fullscreen {
  background-image: url(../img/bg_1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}
.header__container {
  width: 70%;
  margin: 0 auto;
}
.header__logo {
  padding-top: 10%;
  padding-top: 10vh;
  text-align: center;
}
.header__logo img {
  box-shadow: 0px 0px 15px #000;
  width: 60px;
  height: 60px;
}
.header__title {
  text-align: center;
  padding-top: 10%;
  padding-top: 8vh;
}
.header__title h1 {
  color: #fff;
  font-size: 36px;
  font-size: 11vw;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: bold;
  padding-bottom: 14px;
  text-shadow: 0px 0px 15px #000;
}
.header__title p {
  color: #fdcd3d;
  font-size: 14px;
  font-size: 4.4vw;
  font-family: 'Roboto Condensed', 'Roboto', 'Open Sans', sans-serif; 
  font-weight: lighter;
  text-transform: uppercase;
  text-shadow: 0px 0px 15px #000;
}
.header__see-more {
  text-align: center;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
.header__see-more a{
  color: #fdcd3d;
  text-decoration: none;
  font-family: 'Roboto Condensed', 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: lighter;
}
.header__see-more a:hover{
  color: #fdcd3d;
  text-decoration: none;
  text-shadow: 0px 0px 10px #000;
}
.article-container {
  font-size: 1em;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  padding: 24px 18px;
  /*color: #93a4aa;*/
}
.about-me {
}
.article-header{
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 12px;
}
.experience {
  background-image: url(../img/bg_2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  max-width:100%;
  max-height:100%;
  width:auto;
  color: #fff
}
.contacts {

  background-color: #fdcd3d;
  
}
footer {
  background-color: #1D1F21;
}
.portrait--small {
  float: left;
  width: 100px;
  padding-right: 12px;
  padding-bottom: 12px;
}
.portrait--large {
  float: left;
  width: 100%;
  padding-bottom: 12px;
}

@media (min-width: 768px) {
  .header__logo img {
    width: 80px;
    height: 80px;
  }
  .portrait--small {
    float: left;
    width: 150px;
    padding-right: 12px;
    padding-bottom: 12px;
  }
  .portrait--large {
    float: left;
    width: 300px;
    padding-right: 12px;
    padding-bottom: 12px;
  }
  .article-container {
    padding: 24px 10%;
  }
}

@media (min-width: 992px) {
  .header__logo img {
  }
}

@media (min-width: 1200px) {
  .header__logo img {
  width: 100px;
  height: 100px;
  }
}